<!-- templates/home.html
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Notify</title>
    <Script src="{% static 'js/websocketbridge.js'%}" type="text/javascript"></Script>
</head>

<body>
    <h1>Notify</h1>

    <ul id="notify"></ul>
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            const webSocketBridge = new channels.WebSocketBridge();

            const nl = document.querySelector("#notify");

            webSocketBridge.connect('/ws/notification/123');

            webSocketBridge.listen(function(action) {
                console.log("Res:", action);

                if (action.evnet = "New User") {
                    var el = document.createElement("li");
                    el.innerHTML = `New user <b>${action.usernmae}</b> added`;
                    nl.appendChild(el);

                }
            });

            document.ws = webSocketBridge;
        })
    </script>
</body>

</html>-->