
<form id="form-container" method="POST">
    {% csrf_token %} 
        {{ customer_form }} </br>
    {{address_form.management_form}} {% for form in address_form %}
    <div class="bird-form">
        {{form.as_p}}
    </div>
    {% endfor %}
    <button id="add-form" type="button">Add address</button>
        <button type="submit">Create</button>
</form>

<script>
    let birdForm = document.querySelectorAll(".bird-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length - 1
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`, 'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)

        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>