<!-- templates/article/article_list.html -->
{% extends 'base.html' %} {% block title %} Articles {% endblock title %} {% block content %} {% for article in object_list %}

<div class="card">
    <div class="card-header">

        <h4 class="card-title"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h4>
        <h5 class="card-subtitle mb-2 text-muted">{{ article.author }}</h5>
        <h6 class="card-subtitl mb-2 text-muted">{{ article.date }} </h6>

    </div>
    <div class="card-body">
        <p class="card-text">{{ article.body }}</p>
        <a href="{% url 'article_edit' article.pk %}" class="card-link">Edit</a>
        <a href="{% url 'article_delete' article.pk %}" class="card-link">Delete</a>
    </div>
    <div class="card-footer">
        {% for comment in article.comments.all %}
        <p>
            <span class="font-weight-bold">{{comment.author}} : </span>{{comment}}
        </p>
        {% endfor %}
    </div>
</div>

{% endfor %} {% endblock %}